nav a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

nav ul {
    margin: 0;
    background-color: #000;
}

nav li {
    display: inline-block;
    width: 32%;
    padding: 5px 10px 5px 10px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
}

nav li:hover {
    background-color: #ee7752;
    color: #fff;
}