* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3 {
    margin: 5px;
}

body {
    font-size: 25px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 0;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


header {
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .7);
}

footer {
    width: 100%;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .5);
}

footer>ul>li {
    list-style: none;
}

img {
    width: 20px;
    height: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}