body {
    background-color: black;
    color: white;

    margin: 0;
    margin-bottom: 40px;
}

header {
    padding: 5vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
}

footer {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: black;
}

.contenedorHeader {
    width: 80vh;
    height: 20vh;
    padding: 5vh;
    color: gray;
}

.title1 {
    font-size: 20px;
    color: #008793;
}

.title2 {
    font-size: 22px;
    color: #00bf72;
}

.title3 {
    font-size: 24px;
    color: #a8eb12;
}

.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

ul>li {
    list-style: none;
}

img {
    width: 20px;
    height: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.redes {
    border-width: 4px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    padding: 3px;
    margin: 7px;
}

.redes-i {
    width: 400px;
    border-color: #833AB4;
}

.redes-w {
    width: 500px;
    border-color: #25D366;
}

.redes-l {
    width: 600px;
    border-color: #0e76a8;
}