ul {
    margin: 20px;
}

h1,
h2,
h3 {
    color: #23a6d5;
}

.hobby,
.experiencia {
    color: rgb(255, 255, 255);
}

.hobby>div>ul>li {
    list-style: none;
    width: 200px;
}

.experiencia>div>ul>li {
    list-style: none;
    width: 200px;
}

.hobby>div>ul>li>ul>li {
    list-style: none;
    width: 200px;
    margin-left: 20px;
}

.hobby>div>ul>li:hover,
.hobby>div>ul>li>ul>li:hover,
.experiencia>div>ul>li:hover {
    list-style: none;
    width: 200px;
}

.hobby>div>ul>li:hover:before,
.hobby>div>ul>li>ul>li:hover:before,
.experiencia>div>ul>li:hover:before {
    /*content: '<i class="gg-arrow-right-o"></i>';*/
    content: '→ ';
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

/* Header */

.header-content {
    display: flex;

    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}

.header-root {
    display: inline-block;
    position: relative;
    height: 100px;
    margin: 15px;
}

.header-foto {
    width: 100px;
}

.header-nombre {
    width: 300px;
}

.header-menu {
    width: 400px;
}

.title1 {
    font-size: 20px;
    color: #ee7752;
}

.title2 {
    font-size: 22px;
    color: #e73c7e;
}

.title3 {
    font-size: 24px;
    color: #23a6d5;
}

.title4 {
    font-size: 24px;
    color: #23d5ab;
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.listados-con {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.6);

    padding: 20px;

    margin: 20px;
}

/* Fotter */

.redes {
    border-width: 4px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    padding: 3px;
    margin: 7px;
    color: rgb(255, 255, 255);


    transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -webkit-transition: width 1s;
    -o-transition: width 1s;
}

.redes-i {
    width: 400px;
    border-color: #833AB4;
    background-color: rgb(255, 255, 255);
}

.redes-i:hover {
    width: 600px;
    border-color: #833AB4;
    background-color: rgb(255, 255, 255);
}

.redes-w {
    width: 500px;
    border-color: #25D366;
    background-color: rgb(255, 255, 255);
}

.redes-w:hover {
    width: 700px;
    border-color: #25D366;
    background-color: rgb(255, 255, 255);
}

.redes-l {
    width: 600px;
    border-color: #0e76a8;
    background-color: rgb(255, 255, 255);
}

.redes-l:hover {
    width: 800px;
    border-color: #0e76a8;
    background-color: rgb(255, 255, 255);
}

/* Body */

.body-content {
    width: 100%;
    height: 600px;
    padding: 25px;
    margin-bottom: 200px;
}

.seg-hobby {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 250px;
    padding: 15px;
}

.seg-experiencia {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 250px;
    padding: 15px;
}

.seg-hobby img,
.seg-experiencia img {
    -webkit-box-shadow: 2px 2px 5px 2px #0e76a8;
    box-shadow: 2px 2px 5px 2px #0e76a8;
    width: 100%;
    height: 100%;
}

.seg-experiencia img {
    -webkit-box-shadow: 2px 2px 5px 2px #23d5ab;
    box-shadow: 2px 2px 5px 2px #23d5ab;
}